{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mess Food Review</title>
  </head>
  <body>
    <center style="margin:1vh auto;">
      <img class="im_head" src="{% static 'image/logo.png' %}"><span style="font-size:3vw;margin:auto 1vw;" >Mess Food Review System</span>
    </center>
    <center style="margin:1vh auto;">
      <span style="font-size:3vw;margin:auto 1vw;" >Login Here</span>
    </center>

  <div class="container">
      <div class="login_form">
        <form action="/log_ver/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="ldap">LDAP Id:</label>
            <input type="text" class="form-control" name="ldap" id="ldap" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="pwd" class="form-control" id="pwd" required>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <span>Register <a href="/register">here</a></span>
          <br>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>

   <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script>
    function login(){
      var name = $( "#name" ).val();
      var ldap = $( "#ldap" ).val();
      var pass = $( "#pwd" ).val();
      var csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      console.log(name);
      console.log(ldap);
      console.log(pass);

        $.ajax({
          url: "http://{{ request.get_host }}/reg/",
          type: "POST",
          headers: { "X-CSRFToken": csrf },
          data: { name:name, ldap:ldap, pass:pass },
          success: function(data) {
          if(data == ''){
            $("#lde").html(ldap+"@iitb.ac.in");
            $("#load").modal("show");
            }
          }
        });



    }
  </script>
  </body>
</html>
