{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
  </head>
  <body>
  <div
      class="modal fade"
      id="load"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <center>
              <p align="justify" class="mt-1 px-5">
                You have been registered. Login <a href="/">here</a> But first confirm your email by clicking the link sent to you at <span id ='lde'></span>
              </p>
            </center>
          </div>
        </div>
      </div>
    </div>
    <center style="margin:1vh auto;">
      <img class="im_head" src="{% static 'image/logo.png' %}"><span style="font-size:3vw;margin:auto 1vw;" >Mess Food Review System</span>
    </center>
    <center style="margin:1vh auto;">
      <span style="font-size:3vw;margin:auto 1vw;" >Register Here</span>
    </center>

  <div class="container">
      <div class="login_form">
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="ldap">LDAP Id:</label>
            <input type="text" class="form-control" id="ldap" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" required>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>

          <span>Login? <a href="/">here</a></span>
          <br>
          <button type="button" onclick="register();" class="btn btn-primary">Register</button>

        </form>
      </div>
    </div>
    {% csrf_token %}
   <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script>
    function register(){
      var name = $( "#name" ).val();
      var ldap = $( "#ldap" ).val();
      var pass = $( "#pwd" ).val();
      var csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      console.log(name);
      console.log(ldap);
      console.log(pass);

        $.ajax({
          url: "http://{{ request.get_host }}/reg/",
          type: "POST",
          headers: { "X-CSRFToken": csrf },
          data: { name:name, ldap:ldap, pass:pass },
          success: function(data) {
          if(data == ''){
            $("#lde").html(ldap+"@iitb.ac.in");
            $("#load").modal("show");
            }
          }
        });



    }
  </script>
  </body>

</html>

